*{
    margin: 0px;
    padding: 0px;
}

.body{
    background-color: lightgray;
    font-family: Arial, sans-serif;
    padding-top: 100px;
}

#books-container{
    margin: 10px;
    padding: 10px;
    
}
.heading{
    margin-top: 15px;
    color: rgb(19, 161, 43);
    display: flex;
    justify-content: center;
}

ul li .nav-link{
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left:20px;
}

a[class="navbar-brand mx-4 my-3"]{
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.title{
    color:blue ;
    
}

